/target/
nbactions-test_part_continuous.xml
nbactions-test_parts_non_continuous.xml
nbactions.xml
nb-configuration.xml

/src/test/xml/chapters.epub
/src/test/xml/ghost_stories_of_an_antiquary.epub
/src/test/xml/little_dorrit.epub
/src/test/xml/parts_continuous_numbers.epub
/src/test/xml/parts_non_continuous_numbers.epub
/src/test/xml/parts_one_chapter.epub
/src/test/xml/various_russians.epub
